
.patientTableDiv {
  max-width: 60%;
  max-height: 80vh;
  overflow: auto;
}

.patientTable {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
  padding: 6px 12px 12px 6px;
  border: none;
  width: 500px;
  height: calc(100% - 50px - 12px);
  cursor: pointer;
}

.patientTableHeader {
  color: var(--default-color);
}

.patientTable tr.active {
  background-color: var(--ui-gray-darker);
  color: var(--tab-text-color-active);
}


